DATABASE_URL="mysql://user:password@localhost:3306/music_crossword"
PORT=6969
JWT_SECRET="change-me"
ADMIN_PASSWORD_HASH=""
PUBLIC_API_URL="http://51.38.148.31:6969"
VITE_API_URL="http://51.38.148.31:6969"
VITE_ADMIN_PANEL_URL="http://51.38.148.31:6970"
DESKTOP_APP_VERSION="0.4.1"
DESKTOP_DOWNLOAD_URL=""
DESKTOP_RELEASE_NOTES="Nowa wersja 69hitow"
