DATABASE_URL="mysql://user:password@localhost:3306/music_crossword"
PORT=6969
JWT_SECRET="change-me"
ADMIN_PASSWORD_HASH=""
PUBLIC_API_URL="http://admin.hity.mionix.pl"
VITE_API_URL="http://admin.hity.mionix.pl"
VITE_ADMIN_PANEL_URL="http://admin.hity.mionix.pl"
DESKTOP_APP_VERSION="0.2.4"
DESKTOP_DOWNLOAD_URL=""
DESKTOP_RELEASE_NOTES="Nowa wersja 69hitow"
